<div class="container main-container">
    <div class="col-md-12">
        <%= render "search/partials/search_medicaments_or_analyses_bar" %>

    </div>

   <div class="search-result">
        <%= render("search/partials/medicaments_or_analyses_result") %>
    </div>
   
</div>