<li class="br-menu-item">
    <a href="#" class="br-menu-link with-sub">
        <i class="fa fa-cog tx-20"></i>
        <span class="menu-item-label">Paramètres</span>
    </a><!-- br-menu-link -->
    <ul class="br-menu-sub">
    
        <li class="sub-item">
            <%= link_to  "Rôles", roles_path, class: "sub-link" %>
        </li>
    </ul>
</li>