<% if current_user.profile.status == "Disponible" %>
    <li><%= link_to "Statut: Disponible" , disable_profile_status_path(current_user.profile.id), class: "dropdown-item" %> </li>
<% else %>
    <li><%= link_to "Statut: Indisponible" , enable_profile_status_path(current_user.profile.id), class: "dropdown-item" %> </li>
<% end %>