<section class="about">
    <div class="container">
        <div class="row">

        <div class="row align-items-lg-center">
			<div class="col-lg-6">
				<%= image_tag "contact_us_-01.jpg", class: "contact-img" %>
			</div>
			<div class="col-lg-6 img-fluid d-none d-lg-block">
                    
                <h1 class="text-bold">
                    Besoin de conseils
				</h1>
				<p class="text-gray-soft text-regular">

                    Kosanté+ a mis en place un système d'assistance en ligne pour les patients pour leur problème de santé et aussi les premiers soins à administrer.

                    Nous sommes disponible 24H/7jours et nous proposons des services de qualités et approuvés par nos clients. Découvrez nos services, prennez un rendez-vous avec notre plateforme, gérez vos structures sanitaires en un seul click, Nous metteons à votre dispososition les meilleurs centres radiologiques et les meilleurs prestataires en matière de santé. 
                </p>

			</div>
		</div>


            
        </div>
    </div>
</div>