<section id="features" class="features">
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h3>Fonctionnalités</h3>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="icon-box effect medium square color">
                            <div class="icon"> <i class="fa fa-home"></i> </div>
                            <h3>Pharmacies</h3>
                            <p class="">
                                - Retrouver en temps réel un produit dans une pharmacie <br>
                                - Une carte de géolocalisation précise <br>
                                - Possibilité de commande des produits dans une pharmacie <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="icon-box effect medium square color">
                            <div class="icon"> <i class="fa fa-bed"></i> </div>
                            <h3>Laboratoires</h3>
                            <p class="">
                                - Prise de rendez-vous avec les laboratoires <br>
                                - Réception des résultats de vos analyses via l'application <br>
                                - Retrouver le laboratoire approprié pour réaliser vos analyses <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="icon-box effect medium square color">
                            <div class="icon"> <i class="fa fa-h-square"></i> </div>
                            <h3>Cliniques, Cabinets, Hopitaux</h3>
                            <p class="">
                                - Retrouver les programmes de consultation ainsi que la disponibilité des médecins <br>
                                - Prenez rendez-vous avec votre médecin <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="icon-box effect medium square color">
                            <div class="icon"> <i class="fa fa-h-square"></i> </div>
                            <h3>Centres radiologiques</h3>
                            <p class="">
                                - Retrouver le laboratoire approprié pour réaliser vos bilans <br>
                                - Prenez rendez-vous avec la structure <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="icon-box effect medium square color">
                            <div class="icon"> <i class="fa fa-user-md"></i> </div>
                            <h3>Conseils et consultations</h3>
                            <p class="">
                                - Prenez un conseil en ligne avec notre équipe personalisée <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>