<section class="hero">

	<!-- Old header -->
	<div class="container">
		<div class="row align-items-lg-center">
			<div class="col-lg-6">
				<h1 class="display-4 text-bold">
				<!-- Dynamisez votre communication grâce à notre API SMS. -->
			        Des professionels  de la santé près de chez vous...
				</h1>
				<p class="text-gray-soft text-regular">
			        Cabinet médicaux, Pharmacies,  Hôpiptaux ...
				</p>
				<a class="btn btn-primary btn-lg mb-5 mb-lg-2 lift" href="#">Essayer gratuitement<i class="fa fa-arrow-right d-none d-md-inline ml-3"></i> </a>
			</div>
			<div class="col-lg-6 img-fluid d-none d-lg-block right-img">
                <!-- <%= image_tag "at-doctor_2x.png" %>-->
			</div>
		</div>
	</div>

</section>
