<section class="container">
    <h2  class="text-center">Trouver une pharmacie, un laboratoire ou un centre radiologique.</h2>
    <div class="row carousel-description-clients carousel-description-style ">
        <div class="col-lg-12">

        <%= render "search/partials/search_medicaments_or_analyses_bar" %>
        
        
        </div>
    </div>
</section>