<section class="home-bubbles">
<div class="container">
<h2 class="text-center">Rapide, gratuit et sécurisé</h2>
<div class="row">
<div class="col-md-3 col-xs-6">
<div class="icon">
<span class="fa fa-3x fa-user-md"></span>
</div>
<div class="text">
<h3>
Cherchez un médecin
</h3>
<small>Filtrez par disponibilité, prix, et localisation.</small>
</div>
</div>
<div class="col-md-3 col-xs-6">
<div class="icon">
<span class="fa fa-3x fa-calendar"></span>
</div>
<div class="text">
<h3>
Prenez rendez-vous
</h3>
<small>Directement en ligne ou en appelant le médecin.</small>
</div>
</div>
<div class="clearfix visible-xs mb-20"></div>
<div class="col-md-3 col-xs-6">
<div class="icon">
<span class="fa fa-3x fa-medkit"></span>
</div>
<div class="text">
<h3>
Voir le médecin
</h3>
<small>Un SMS de rappel avec toutes les informations pratiques vous sera envoyé la veille du rendez-vous !</small>
</div>
</div>
<div class="col-md-3 col-xs-6">
<div class="icon">
<span class="fa fa-3x fa-lock"></span>
</div>
<div class="text">
<h3>
Votre sécurité
</h3>
<small>Vos données sont protégées grâce à notre hebergeur agréé par le Ministère de la santé.</small>
</div>
</div>
</div>
</div>
</section>